:root {

    --color-primary: #5D5E60;
    --color-primary-50: rgba(93, 94, 96, 0.5);
    --color-secondary: #8D8D92;
    --color-accent: #BEB2C8;
    --color-bg: #D7D6D6;
}

button {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-secondary);
    color: var(--color-bg);
}

button:hover {
    background-color: var(--color-primary);
    transform: translateY(-2px); 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button:disabled {
    background-color: var(--color-secondary);
    cursor: default;
    opacity: 0.7;
}

button:disabled:hover {
    background-color: var(--color-secondary);
    cursor: default;
    transform: none;
    box-shadow: none;
}

body {

    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1, h2, h3, h4, span, p {

    color: var(--color-primary);
}

h1 {

    font-size: 62px;
}

h2 {

    font-size: 42px;
}

h3 {

    font-size: 32px;
}

h4 {
    font-size: 18px;
}

span {

    font-size: 24px;
}

p {

    font-size: 24px;
}
header {

    justify-content: center;
    text-align: center;

}

main {

    display: block;
    opacity: 1;
    width: 45%;
    margin-top: 80px;
    text-align: center;
    background-color: var(--color-accent);
    padding: 20px 80px 20px 80px;
    border-radius: 25px;
}

.inputChoix {

    display: flex;
}

.btnRadio {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    width: 100%;
}
 input#phrase {

    width: 30px;
 }

.motProposition {

    background-color: white;
    border-radius: 10px;
    padding: 20px 8px;
    margin: 20px 0px 20px 0px;   
}

.motProposition {

    font-size: 32px;
}

#promptJeu {

    margin-top: 20px;
    margin-bottom: 20px;
}

.reponseUser {
     
    display: flex;
    justify-content: space-between;
}

.reponseUser input {

    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease;
    width: 100%; 
    box-sizing: border-box;
    color: var(--color-primary);
    margin-right: 15px;
}

input:focus {
    border-color: var(--color-accent); 
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

input:disabled {

    background-color: #f3f4f6;
    cursor: not-allowed;
    opacity: 0.7;
    cursor: default;
}

.popupBackground {

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    display: flex;
    opacity: 0;
    width: 35;
    text-align: center;
    justify-content: center;
    background-color: var(--color-accent);
    border-radius: 25px;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translate(-50%, -30%) scale(0.95);
}

.popup {

    padding: 10px 10px;
}

.popup h3 {

    margin: 16px 0px;
}

.popupBackground.active {

    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup form label {

    font-size: 20px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.popup form input {

    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: all 0.3s ease;
    width: 80%; 
    box-sizing: border-box;
    margin-bottom: 16px;
}

.popup form input::placeholder {

    color: var(--color-primary-50);
}

.popup form button {

    margin-bottom: 16px;
    width: 30%;
}

footer {

    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color:var(--color-accent);
    text-align: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* transparence */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
  transition: opacity 0.3s ease;
}

#overlay.active {

    pointer-events: auto;
    opacity: 1;
}